@import "https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700";

.landing-container {
  .card-service {
    display: block;
    margin: 16px auto;
    padding: 32px 20px;
    max-width: 300px;
    text-align: center;
    color: #898798;
    border-radius: 8px;
    box-shadow: 0 3px 12px rgba(95, 92, 120, 0.12);
    .header {
      margin-bottom: 24px;
    }
  }
  #landing1 {
    padding-bottom: 10%;
  }
  #landing2 {
    padding-bottom: 10%;
  }
  .content1 {
    .content1svg {
      width: 0.875em;
    }
  }
  .svg-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  .svg {
    path {
      transition: 0.1s;
    }

    &:hover path {
      d: path("M 800 300 Q 400 250 0 300 L 0 0 L 800 0 L 800 300 Z");
    }
  }

  h3 {
    font-weight: 400;
  }

  header {
    color: #fff;
    padding-top: 10vw;
    padding-bottom: 30vw;
    text-align: center;
  }

  main {
    padding: 10vh 0 80vh;
    position: relative;
    text-align: center;
  }

  footer {
    background: #dddee1;
    padding: 5vh 0;
    text-align: center;
    position: relative;
  }

  small {
    opacity: 0.5;
    font-weight: 300;

    a {
      color: inherit;
    }
  }
}
