@import "https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700";

.landing-container {
  .searchblock {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchblockinner {
    padding: 20px;
    border-radius: 20px;
    max-width: 44%;
    color: black;
    background-color: #fee3cd;
    button {
      color: white;
      background-color: #f2740d;
    }
  }
  .user-review-section {
    margin-top: 10vw;
  }
  .user-review-card {
    margin-right: 20px;
  }
  .number-details {
    margin-top: 100px;
    p {
      font-size: small;
    }
  }
  .card-service {
    display: block;
    margin: 16px auto;
    padding: 32px 20px;
    max-width: 300px;
    text-align: center;
    color: #898798;
    border-radius: 8px;
    box-shadow: 0 3px 12px rgba(95, 92, 120, 0.12);
    .header {
      margin-bottom: 20px;
    }
  }
  #landing1 {
    h3 {
      font-size: 50px !important;
      font-weight: 400;
    }
    p,
    button,
    a {
      font-size: 18px;
    }
    h4 {
      font-size: 30px !important;
    }
    padding-bottom: 10%;
  }
  #landing2 {
    h3 {
      font-size: 50px !important;
      font-weight: 400;
    }
    p,
    button,
    a {
      font-size: 18px;
    }
    h4 {
      font-size: 30px !important;
    }
    padding-bottom: 10%;
  }
  .content1 {
    .content1svg {
      width: 0.875em;
    }
  }
  .svg-container {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
  }

  .svg {
    path {
      transition: 0.1s;
    }

    &:hover path {
      d: path("M 800 300 Q 400 250 0 300 L 0 0 L 800 0 L 800 300 Z");
    }
  }

  header {
    color: #fff;
    padding-top: 5vw;
    padding-bottom: 15vw;
    text-align: center;
  }

  main {
    padding: 10vh 0 25vh;
    position: relative;
    text-align: center;
  }

  // footer {
  //   background: #dddee1;
  //   padding: 5vh 0;
  //   text-align: center;
  //   position: relative;
  // }

  small {
    opacity: 0.5;
    font-weight: 300;

    a {
      color: inherit;
    }
  }

  @media (max-width: 1400px) {
    header {
      background-color: #50c6d8;
    }
  }
}
